In [1]:
s={}
type(s)

dict

In [6]:
# The main advantage of sets is that it gives unique values. It removes duplicate values
s1= {1,2,3,4,5,2,1,4,5,"lipika","avinash","lipika"}
s1

{1, 2, 3, 4, 5, 'avinash', 'lipika'}

In [8]:
s2= {"lipika", "lipika"}
s2

{'lipika'}

In [9]:
s3= {"lipika", "Lipika"}
s3

{'Lipika', 'lipika'}

In [ ]:
# add function- it adds element to the set
# no effect if element is already present in set
# can add int, bool, float, complex, string, tuple data type but it cannot add a list and set
s2.add("pwskills")
s2

In [22]:
s2.add("pwskills")

In [23]:
s2

{(7, 8), 'lipika', 'pwskills'}

In [24]:
s2.add((7,8))

In [25]:
s2

{(7, 8), 'lipika', 'pwskills'}

In [26]:
s2.add([7,9])

TypeError: unhashable type: 'list'

In [28]:
s2.add({6,7})

TypeError: unhashable type: 'set'

In [29]:
# clear function- it removes everything from set
s2.clear()

In [30]:
s2

set()

In [35]:
# set() function- you can use this function to convert any list or tuple into a set
lis= [2,3,4,5,2,3,4,4,5,2,3,2,4,5,7]
set(lis)

{2, 3, 4, 5, 7}

In [36]:
tup= (2,3,4,5,2,3,4,4,5,7,6,6)
set(tup)

{2, 3, 4, 5, 6, 7}

In [45]:
s1

{1, 4, 5, 'avinash', 'lipika'}

In [46]:
# remove function- it removes a element from set if present, otherwise raise error 
s1.remove(4)

In [47]:
s1

{1, 5, 'avinash', 'lipika'}

In [48]:
# discard function- it does the same work as remove, which is to remove a element froma  set
# The only difference is that it donot raise error even if element is not present in a set
s1.discard(100)

In [49]:
s1

{1, 5, 'avinash', 'lipika'}

In [50]:
# pop function- it removes any random element from set
s1.pop()

1

In [51]:
s1

{5, 'avinash', 'lipika'}

In [52]:
# There is no indexing in a set as it stores data in a sequenced manner
s1[0]

TypeError: 'set' object is not subscriptable