In [3]:
t= ()
type(t)

tuple

In [4]:
t1= (1,2,3,4,5,"tup", True, 5+6j)

In [5]:
l= [1,2,3,4,5,"tup",True,5+6j]

In [ ]:
type(t1)

In [6]:
type(l)

list

In [7]:
#Accessing element from tuple
t1[5]

'tup'

In [8]:
l[5]

'tup'

In [9]:
# tuple object does not support item assignment
# Therefore tuples are immutable entity
t1[5]= "lipika"

TypeError: 'tuple' object does not support item assignment

In [10]:
# List are mutable entity
l[5]= "lipika"

In [11]:
l

[1, 2, 3, 4, 5, 'lipika', True, (5+6j)]

In [12]:
# to convert a tuple into a list
list(t1)

[1, 2, 3, 4, 5, 'tup', True, (5+6j)]

In [13]:
type(t1)

tuple

In [14]:
# to convert a list in a tuple
tuple(l)

(1, 2, 3, 4, 5, 'lipika', True, (5+6j))

In [15]:
# count function- returns the occurences of a value
t1.count(5)

1

In [22]:
t1.count(100)

0

In [23]:
# index function- gives the index of tuple
# if not found, gives error
# if element occurs more than one time, it gives the index of firstt occurence ofelement
t1.index("tup")

5

In [24]:
t2= [2,5,7,3,2,8,9,2,0]
t2.count(2)

3

In [25]:
t2.index(2)

0

In [26]:
# max function- returns max element
# min function- returns min element
max(t2)

9

In [27]:
min(t2)

0

In [28]:
# len function- gives length of tuple
len(t2)

9